.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
	text-align:center;
	width:100%;
}
#nav-menu {
    list-style: none;
	font-size:1.2em;
     *zoom: 1;
     background:#6d6e6f;
	font-family:"proxima-nova";	 
}
#nav-menu:before,
#nav-menu:after {
    content: " "; 
    display: table; 
}
#nav-menu:after {
    clear: both;
}
#nav-menu ul {
    list-style: none;
    width: 9em;
}
#nav-menu a {
    padding: 10px 20px;
    color:#fff;
}

#nav-menu li {
    position: relative;
}
#nav-menu > li {
    float: left;
	padding:16px 0;
}
#nav-menu > li > .parent {
    background-image:url(../img/downArrow.png);
    background-repeat: no-repeat;
    background-position: right;
}
#nav-menu > li > a {
    display: block;
	
}
#nav-menu li  ul {
    position: absolute;
    left: -9999px;
	padding-top:16px;
}
#nav-menu > li.hover > ul {
    left: 0;
}
#nav-menu li li.hover ul {
    left: 100%;
    top: 0;
}
#nav-menu li li a {
    display: block;
    background: #e8e9ec;
	color:#89878c;
    position: relative;
    z-index:100;
}
#nav-menu li li li a {
    z-index:200;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    #nav-menu > li {
        float: none;
    }
    #nav-menu > li > .parent {
        background-position: 95% 50%;
    }
    #nav-menu li li .parent {
        background-image: url("../img/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    #nav-menu ul {
        display: block;
        width: 100%;
    }
   #nav-menu > li.hover > ul , #nav-menu li li.hover ul {
        position: static;
    }

}
@media (max-width: 768px) {
	#nav-menu a {
		padding: 0 20px;
	}
	#nav-menu > li {
		padding:10px 0;
	}
	#nav-menu li li a {
		padding:10px 20px;
	}
	
}
@media only screen and (max-device-width: 768px) {
	#nav-menu a {
		padding: 0 20px;
	}
	#nav-menu > li {
		padding:10px 0;
	}
	#nav-menu li li a {
		padding:10px 20px;
	}
}
