/*Reset JP*/
/*Fuentes*/
.pixeles {
	display:block;
	width:30px;
	height:30px;
	position:fixed;
	top:0;
	left:0;
	color:#FFF;
	background:#000;
	font-size:14px;
	z-index:999999;
}
$em-1: 1em;
$em-2: 2em;
$em-3: 3em;
$em-4: 4em;
p {
	font-size: 16px !important; 
}
@mixin font-family { 
	font-family:"proxima-nova";
}
@mixin transicion {
	transition:all .5s ease;
}

h1, h2, h3, h4, h5, h6, p, button {
	font-family:"proxima-nova";
	margin:0;
	padding:0;
}

body {
	@include font-family;
	@include transicion;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	text-rendering: optimizeLegibility !important;
}
.box {
	display: block;
	height: auto;
	overflow: hidden;
}
@mixin box {
	display: block;
	height: auto;
	overflow: hidden;
}
@mixin cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.fcenter {
	margin: 0 auto;
}
.fwidth {
	width: 100%;
}
*, p, a {
	margin: 0;
	padding: 0;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
a {
	text-decoration: none;
	outline: none;
}
.ocultar {
	display: none;
	visibility: hidden;
}
.mostrar {
	display: block;
	visibility: visible;
}
.no-column {
	padding-left: 0!important;
	padding-right: 0!important;
}

.hideme {
	opacity:0;
}


//Paleta 
$gris-oscuro: #6d6e6f;
$gris-oscuro-2: #b0afb5;
$gris-claro:  #e8e9ec;
$gris-claro-2: #89878c;
$gris-claro-3: #d2d0d0;


span.gota {
	display:block;
	width:51px;
	height:52px;
	position:absolute;
	background:url(img/gota-1.png) no-repeat;
	z-index:9999;
	animation-delay:2s;
	
	@media (max-width: 991px) {
		display:none
	}
}

header {
	span.gota {
		top:44px;
		left:76%;
	}
	
	#logo-head {
		background:#FFF;
		padding:5px 0;
		
		
			/* para browser */
			@media (max-width: 768px) {
				padding:16px 0;
			}
			/* para dispositivo */
			@media only screen and (max-device-width: 768px) {
				padding:16px 0;
			}
		
		img {
			animation-delay:1s;
			transform:scale(0.7);
			margin: -15px;
			/* para browser */
			@media (max-width: 768px) {
				height:100px;
			}
			/* para dispositivo */
			@media only screen and (max-device-width: 768px) {
				height:100px;
			}
		}
	}
	
}

#slider-home {
	span.hoja {
		display:block;
		width:200px;
		height:123px;
		background:url(img/hoja-png.png) center center no-repeat;
		position:absolute;
		top:-70px;
		right:20px;
		z-index:99;
	
		@media (max-width: 990px) {
			display:none;
		}
		@media only screen and (max-device-width: 990px) {
			display:none;
		}
		
	}
}
#main {
	.img-footer-home img{
		max-width:100%;
		width:100%;
	}
}
//main


#medamb {
	height:100%;
	
	#video {
		video {
			width:100%;
			height:428px;
			background:transparent url(img/poster-video.jpg) no-repeat 0 0; 
			@include cover; 
		}
		span.punta-der {
			top:26%;
			@media (max-width: 990px) {
				display:none;
			}
			@media only screen and (max-device-width: 990px) {
				display:none;
			}
		}
	}
	#lat-video {
		h1 {
			text-transform:uppercase;
			font-weight:700;
			font-size:$em-2;
			padding-top:20%;
			padding-left:30px;
			background:url(img/line-top-inv.gif) 30px 58% no-repeat;
			color:#434040;

			
			@media (max-width: 990px) {
				padding-top:8%;
				padding-left:0;
				background:url(img/line-top-inv.gif) 0 35% no-repeat;
			}
		}
		
		height:100%;
		height:428px;
		position:relative;


		@media (max-width: 1200px) {
			height:470px;
		}
		@media (max-width: 990px) {
			height:130px;
		}
		
	}
	#lat-video img {
		max-width:100%;
		width:100%;
		position:absolute;
		bottom:0;
		
		@media (max-width: 990px)  {
			display:none;
		}
	}
}

.txt-gen {
	position:relative;
	overflow:visible;
	img.hoja-abs {
		position:absolute;
		bottom:-100px;
		right:-48%;
		z-index:99;
		transform:rotate(-21deg);
			@media (max-width: 990px) {
				display:none;
			}
	}
	p {
		margin-bottom:20px;
		color:#89878c;
		line-height:$em-1 * 1.3;
		text-align: justify;
	}
}
.container-fake {
	margin-right: auto;
	margin-left: auto;
	width:86.8125%;
	@include box;
	overflow:visible;
}

#comunidad {
	.container-fake {
		margin-bottom:40px;
	}
	.img {
		position:relative;
		overflow:visible;
		margin-bottom:150px;
		
		img {
			width:100%;
			max-width:100%;
		}
		
		span.gota {
			position:absolute;
			z-index:99;			
			top:100%;
			right:10%;
		}
	}
	.img-2 {
		height:547px;
		background:url(img/detalle.comunidad-2.jpg) center center #dcdcdc;
		@include cover;
		
		img {
			width:100%;
		}
	}
	.txt {
		padding:40px;
		height:547px;
		background:#dcdcdc;
		
		@media (max-width: 1387px) {
			padding:30px;
			/*height:647px;*/
		}
		@media (max-width: 990px) {
			height:647px;
		}
		h2 {
			color:#575656;
			font-weight:700;
			font-size:$em-1 * 1.6;
			margin-bottom:35px;
				@media (max-width: 590px) {
					margin-bottom:10px;
				}
		}
		ul  {
			list-style: none;
			padding:0;
			margin:0;			
			li {
				margin-bottom:20px;
				padding-left: 1em; 
				text-indent: -.7em;
				@media (max-width: 1387px) {
					margin-bottom:10px;
				}
				@media (max-width: 480px) {
					margin-bottom:5px;
				}
				
			}
			li:before {
				content: "• ";
				color: #aaa9a9;
			}			
		}
	}
}
#plan-maestro {
	.head-plan-maestro {
		padding:76px 0;
		background:url(img/head-plan-maestro.jpg) center center no-repeat;
		@include cover;
		margin-bottom:50px;
		
		.h1 {
			height:281px;
			width:281px;
			padding:114px 50px;
			color:#FFF;
			margin-right:7%;

			background:url(img/line-top.gif) 22% 30% no-repeat rgba(0,0,0,.5);
			
		}
	}
	
	.txt-gen {
		padding-top:40px;
		background:url(img/line-top-inv.gif) 1.6% 0 no-repeat;
		p {
			color:$gris-claro-2;
		}
		
	}
}
/*Equipo*/
#head-equipo {
	.img {
		height:482px;
		background:url(img/head-equipo.jpg) center 0% ;
		@include cover;
	}
	.tit {
		background:url(img/img-equpo-head-2.jpg) center center ;
		@include cover;
		height:482px;
		color:#FFF;
		
		.h1 {
			margin:32% 0 0 10%;
			@include transicion;
			@media (max-width: 1024px) {
				margin:24% 0 0 10%;
			}
			@media (max-width: 768px) {
				margin:15% 0 0 10%;
			}
		}
		p {
			width:80%;
			margin-left:10%;
		}
	}
	
	.img, .tit {
		@media (max-width: 1200px) {
			height:382px;
		}
		@media (max-width: 1024px) {
			height:292px;
		}
		
	}
}

#content-equipo, #content-equipo-2 {
	margin-bottom:135px;
	
	.h1 {
		text-transform:none;
		font-weight:700!important;
	}
	
	/*Equipo-1*/
	#equipo-1 {
		height:414px;
		position:relative;
		
		@media only screen and (max-device-width: 768px) {
			margin-bottom:10px;
		}
		@media (max-width: 768px) {
			margin-bottom:10px;
		}
		@media only screen and (max-device-width: 550px) {
			height:323px;
		}
		@media (max-width: 550px) {
			height:323px;
		}
		
		.e1img {
			height:100%;
			background:url(img/arturo-natho.jpg) 85% 29% no-repeat;
			@include cover;
			animation-delay:.5s;
			span.punta-der {
				right:-2%!important;
				@media only screen and (max-device-width: 480px) {
					right:-8%!important;
				}
				@media (max-width: 480px) {
					right:-8%!important;
				}
			}
		}
		.txt {
			animation-delay:1s;
		}
		.img {
			animation-delay:1.5s;
		}
		
		.h1 {
			margin-top:22%;
		}
		.hoja {
			margin-top:25%;
			transform:rotate(-21deg);
			img{
				width:100%;
			}
		}
		.gota {
			left: 61%;
			top: 100%;
		}
	}
	/*Equipo-1*/
	
	#equipo-2 {
		height:569px;
		@media (max-width: 1024px) {
			height:469px;
		}
		@media only screen and (max-device-width: 550px) {
			height:440px;
		}
		@media (max-width: 550px) {
			height:530px;
		}
		
		.e2img {
			background:url(img/bg-img-equipo-2.jpg) center center;
			@include cover;
			animation-delay:.5s;
			height:100%;
		}
		.perfil {
			height:100%;
			
			.img {
				height:62%;
				position:relative;
			}
			.txt {
				height:38%;
				background:#FFF;
				padding:35px 0 0 35px;
				@include transicion;
				
				@media (max-width: 1494px) {
					padding:10px 0 0 30px;
				}
				@media (max-width: 1024px) {
					padding:5px 0 0 10px;
				}
				
			}
			.h1 {
				h1 {
					@media (max-width: 1024px) {
						font-size:30px;
					}
					@media (max-width: 550px) {
						font-size:24px;
					}
				}
				@media (max-width: 1024px) {
					margin-bottom:10px;
				}
			}
			.marcela-has {
				background:url(img/marcela-hassenberg.jpg) center 2% no-repeat;
				@include cover;
			}
			.ricardo-lab {
				background:url(img/ricardo-labarca-k.jpg) center 0% no-repeat;
				@include cover;
			}
		
		}
	}
	/*Equipo-2*/
	
	#equipo-3 {
		height:280px;
		
		.trinidad-fig, .ricardo-lab-a, .img {
			height:280px;
		}
		.trinidad-fig {
			background:url(img/trinidad-figueroa.jpg) center 4% no-repeat;
			@include cover;
		}
		.ricardo-lab-a {
			background:url(img/ricardo-labarca-a.jpg) center 4% no-repeat;
			@include cover;
		}
		.img {
			background:url(img/img-mision.jpg) center 1% no-repeat;
			@include cover;
		}
	}
	/*Equipo-3*/
	
	#equipo-4 {
		height:280px;
		@include transicion;
			@media only screen and (max-device-width: 550px) {
				height:220px;
			}
			@media (max-width: 550px) {
				height:220px;
			}
		
		.txt, .stephanie-rot, .andres-var {
			height:100%;
		}
		.stephanie-rot {
			background:url(img/stephanie-rotella.jpg) center 21% no-repeat;
			@include cover;
		}
		.andres-var {
			background:url(img/andres-varela.jpg) center 4% no-repeat;
			@include cover;
		}
		.txt {
			.h1 {
				margin-top:12%!important;
				margin-left:8%;
				h1 {
					@media (max-width: 550px) {
						font-size:24px;
					}
				}
			}
			p {
				margin-left:8%;
			}
		}
		
	}
	/*equipo-4*/
	
	#equipo-5 {
		height:241px;
		
		.txt, .img {
			height:100%;
		}
		.img {
			background:url(img/bg-img-equipo-3.jpg) center 0 no-repeat;
			@include cover;
		}
		.txt {
			.h1 {
				margin-top:12%!important;
				margin-left:8%;
				h1 {
					@media (max-width: 1024px) {
						font-size:24px;
					}
				}
			}
			p {
				margin-left:8%;
			}
		}
		/*txt*/
		.steph {
			h1 {
				@media (max-width: 550px) {
					font-size:24px;
				}
			}
		}
	}
	/*equipo-5*/
	
	#equipo-6 {
		height:280px;
		
		.img, .mabel-val, .txt {
			height:100%;
		}
		.mabel-val {
			background:url(img/mabel-vallejos.jpg) center 1% no-repeat;
			@include cover;
			
			span.punta-der {
				right:-2.6%!important;
			}
		}
		.txt {
			.h1 {
				margin-top:25%!important;
				margin-left:8%;
				h1 {
					@media (max-width: 1024px) {
						font-size:24px;
					}
				}
			}
			p {
				margin-left:8%;
			}
		}
		/*txt*/
	}
	/*equipo-6*/
		
}
/*Content-equipo*/

.txt, .img {
	position:relative;
}
span.punta {
	display:block;
	position:absolute;
	width:34px;
	height:17px;
}
span.punta-bot {
	background:url(img/punta-bottom.svg) center center no-repeat;
	bottom:0;
	left:43%;
	right:50%;
}
span.punta-der {
	background:url(img/punta-bottom.svg) center center no-repeat;
	top:46%;
	right:-2%;
	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);	
}


.h1, .h2 {
	text-transform:uppercase;
	font-weight:700;
	font-size:$em-2;
	padding-top:20px;
	margin-bottom:20px;
	background:url(img/line-top-inv.gif) 0 0px no-repeat;
	color:#434040;		
}
.h2 {
	h2{
		font-size:$em-1 * 0.8;
	}
}
.blanco {
	background:url(img/line-top.gif) 0 0px no-repeat;
	color:#FFF;
	a {
		color: #fff;
	}
}


#mision {
	background:$gris-oscuro-2;
	
	.txt {
		color:#FFF;
			@media (max-width: 990px) {
				padding-bottom:60px;
			}
			@media only screen and (max-device-width: 990px) {
				padding-bottom:60px;
			}
			
		h1 {
			text-transform:uppercase;
			font-weight:700;
			font-size:$em-2;
			padding-top:45%;
			background:url(img/line-top.gif) 0 65% no-repeat;
			
			@media (max-width: 990px) {
				padding-top:10%;
				background:url(img/line-top.gif) 0 45% no-repeat;
			}
			@media only screen and (max-device-width: 990px) {
				padding-top:10%;
				background:url(img/line-top.gif) 0 45% no-repeat;
			}
			
		}
		p {
			text-align: justify;
		}
	}
	img {
		width:100%;
		min-width:100%;
	}
}

#vision {
		h1 {
			text-transform:uppercase;
			font-weight:700;
			font-size:$em-2;
			padding-top:10%;
			background:url(img/line-top-inv.gif) 0 45% no-repeat;
			color:#434040;
			
			@media (max-width: 990px) {
				background:url(img/line-top-inv.gif) 0 45% no-repeat;
			}
			@media only screen and (max-device-width: 990px) {
				background:url(img/line-top-inv.gif) 0 45% no-repeat;
			}
		}
	
	.txt-img {
		background:$gris-oscuro-2;
		
			span.gota {
				top:-33px;
				right:-36px;
			}
			
			.txt {
				padding:57px;
				padding-top:0;
				padding-bottom:0;
				@media (max-width: 768px) {
					padding-bottom:50px;
				}
				@media only screen and (max-device-width: 768px) {
					padding-bottom:50px;
				}
				
			}
			.img {
				img {
					width:100%;
					max-width:100%;
					min-width:100%;
				}
			}
	}
	.hoja {
		background:#FFF;
		img {
			margin-top:62px;
			width:70%;
		}
	}
}

/*Hisotira*/
#historia {
	.head-historia {
		padding:76px 0;
		background:url(img/head-historia.jpg) center center no-repeat;
		@include cover;
		margin-bottom:50px;
		
		.h1 {
			height:281px;
			width:281px;
			padding:131px 0 0 50px;
			color:#FFF;
			margin-right:7%;

			background:url(img/line-top.gif) 22% 43% no-repeat rgba(0,0,0,.5);
			
		}
	}
}
/*Content historia*/
#content-historia, #content-historia-2 {
	.historia-1 {
		height:668px;
			@media (max-width: 480px) {
				height:516px;
			}
			@media only screen and (max-device-width: 480px) {
				height:516px;
			}
		.img-1, .img-2 {
			height:100%;
		}
		.img-1 {
			background:url(img/gotas-historia-1.jpg) center bottom no-repeat;
			@include cover;
		}
		.img-2 {
			background:url(img/img-historia-1.jpg) center bottom no-repeat;
			@include cover;
		}
		.txt {
			height:100%;			
			color:#FFF;
			.h1 {
				margin-top:0;
				h1 {
					text-transform:none;
					font-weight:600;
				}
			}
			.img {
				background:url(img/img-historia-2.jpg) center center no-repeat;
				@include cover;
				height:50%;
			}
			.texto {
				background:#c6c6c6;
				padding:10%;
				height:48%;
				margin-bottom:5%;
			}
		}
	}
	//historia-1
	
	.historia-2 {
		height:300px;
		margin-bottom:20px;
		.img-3, .img-4 {
			height:100%;
		}
		.img-3 {
			background:#FFF;
		}
		.img-4 {
			background:#FFF;
			position:relative;
			overflow:visible;
			.gota {
				left: 31%;
				top: -43px;
				width:193px;
				height:153px;
				background:url(img/gotas-2.png) center center no-repeat;
			}
		}
		.txt {
			height:100%;			
			color:#FFF;
			.h1 {
				margin-top:0;
				margin-bottom:10px;
				h1 {
					text-transform:none;
					font-size:$em-1 * 0.8;
					font-weight:600;
				}
			}
			.texto {
				background:#FFF;
				padding:7%;
				height:100%;
				p {
					color:#575656;
				}
			}
		}
	}
	//historia-2

	.historia-3 {
		height:450px;
		
			@media (max-width: 500px) {
				height:500px;
			}
			@media only screen and (max-device-width: 500px) {
				height:550px;
			}
		
		.img-5, .img-6 {
			height:100%;
			-webkit-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			-moz-box-shadow:    inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			box-shadow:         inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
		}
		.img-5 {
			background:url(img/plan-maestro-04.jpg) center center no-repeat;
			@include cover;
		}
		.img-6 {
			background:url(img/expansion-urbana.jpg) center center no-repeat;
			@include cover;
		}
		.txt {
			-webkit-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			-moz-box-shadow:    inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			box-shadow:         inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			height:100%;			
			color:#FFF;
			background:#c6c6c6;
			padding:3%;
			@media (max-width: 500px) {
				padding:11%;
			}
			@media only screen and (max-device-width: 500px) {
				padding:11%;
			}
			.h1 {
				margin-top:0;
				margin-bottom:10px;
				h1 {
					text-transform:none;
					font-size:$em-1 * 0.8;
					font-weight:600;
				}
			}
		}
	}
	//historia-3

	.historia-4 {
		height:440px;
		
			@media (max-width: 500px) {
				height:500px;
			}
			@media only screen and (max-device-width: 500px) {
				height:550px;
			}
		
		.img-7, .img-8 {
			height:100%;
			-webkit-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			-moz-box-shadow:    inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			box-shadow:         inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
		}
		.img-7 {
			background:url(img/plan-maestro-04.jpg) center center no-repeat;
			@include cover;
		}
		.img-8 {
			background:url(img/expansion-urbana.jpg) center center no-repeat;
			@include cover;
		}
		.txt {
			-webkit-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			-moz-box-shadow:    inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			box-shadow:         inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			height:100%;			
			color:#AAAAAA;
			background:#FFF;
			padding:1.9%;
			@media (max-width: 500px) {
				padding:2%;
				height:60%;
			}
			@media only screen and (max-device-width: 500px) {
				padding:2%;
				height:60%;
			}
			.h1 {
				margin-top:0;
				margin-bottom:10px;
				h1 {
					text-transform:none;
					font-size:$em-1 * 0.8;
					font-weight:600;
				}
			}
			
		}
		
		#txt-2 {
			@media (max-width: 768px) {
				padding:2%;
				height:68%!important;
			}
			@media only screen and (max-device-width: 768px) {
				padding:2%;
				height:68%!important;
			}
			@media only screen and (max-device-width: 480px) {
				padding:2%;
				height:59%!important;
			}
		}
		
	}
	//historia-4

	.historia-5	 {
		height:350px;
		
		
			@media (max-width: 500px) {
				height:500px;
			}
			@media only screen and (max-device-width: 500px) {
				height:550px;
			}
		
		.img-9 {
			background:url(img/img-historia-9.jpg) center center no-repeat;
			@include cover;
			height:100%;
			-webkit-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			-moz-box-shadow:    inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			box-shadow:         inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
		}
		.txt {
			-webkit-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			-moz-box-shadow:    inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			box-shadow:         inset 0px 0px 0px 6px rgba(255, 255, 255, 1);
			height:100%;			
			color:#FFF;
			background:#AAAAAA;
			padding:1.9%;
			@media (max-width: 991px) {
				padding:4%;
				height:68%;
			}
			@media only screen and (max-device-width: 991px) {
				padding:4%;
				height:68%;
			}
			@media only screen and (max-device-width: 480px) {
				padding:8%;
				height:62%;
			}
			.h1 {
				margin-top:0;
				margin-bottom:10px;
				h1 {
					text-transform:none;
					font-size:$em-1 * 0.8;
					font-weight:600;
				}
			}
		}
	}
	//historia-4


}
//content historia

/*FAQ*/
#faq {
	#faq-head {
		height:328px;
		@media (max-width: 768px) {
			height:178px;			
		}
		@media only screen and (max-device-width: 768px) {
			height:178px;			
		}
		
		.titulo-pag {
			height:100%;
		}
		.tit {
			height:50%!important;
			background:#c6c6c6;
			@media (max-width: 768px) {
				height:100%!important;		
			}
			@media only screen and (max-device-width: 768px) {
				height:100%!important;		
			}
			.h1 {
				height:100%;
				margin-top:0;
				margin:10% 0 0 11%;
				@media (max-width: 768px) {
					margin:8% 0 0 11%;
				}
				@media only screen and (max-device-width: 768px) {
					margin:8% 0 0 11%;
				}
				@media (max-width: 480px) {
					margin:17% 0 0 11%;
				}
				@media only screen and (max-device-width: 480px) {
					margin:17% 0 0 11%;
				}
			}
		}
		.img {
			height:100%;
			background:url(img/head-faq.jpg) center center no-repeat;
			@include cover;
		}
	}
	//faq-head
	.preguntas {

		margin-top:70px;
		h4, p {
			color:#434040;
		}
		h4, li {
			margin-bottom:40px;
		}
		p {
			text-align: justify;
		}
		ul {
			li {
				list-style:none;
				&:first-child {
					background:url(img/line-top-inv.gif) 0.1% top no-repeat;
					padding-top:20px;
				}
			}
		}
	}
	//preguntas
}
//faq

#contacto {
	.tit {
		margin-top:50px;
		img {
			margin-top:25%;
			width:100%;
		}
	}
	.form {
		background:#dcdcdc;
		color:#434040;
		margin-top:50px;
		padding-top:40px;
		padding-bottom:40px;
		
		.control-label {
			text-transform:uppercase;
		}
		textarea {
			min-height:250px;
		}
	}
	//form
	.img {
		img{
			max-width:100%;
		}
	}
	//img

	.iframe-rwd  {
		position: relative;
		padding:30px 0 39.75% 0;
		height: 250px;
		overflow: hidden;
		margin-bottom:20px;
		@media (max-width: 991px) {
			margin:20px 0;			
		}
		@media only screen and (max-device-width: 991px) {
			margin:20px 0;	
		}
	}
	.iframe-rwd iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 99%;
		height: 300px;
	}
}
//contacto


/*Blog*/
#blog {
	#head-blog {
		.tit {
			background:#c6c6c6;
			padding-left:20px!important;
		}
	}
	.txt-gen {
		img.hoja-abs {
			transform:rotate(-21deg);
			right:0;
			transform:scale(.5,.5);
		}
	}
	.noticia {
		p {
			color: #434040;
		}
		@media (max-width: 768px) {
			margin:40px 0 40px 0;
		}
		@media only screen and (max-device-width: 768px) {
			margin:40px 0 40px 0;
		}
		img {
			width:100%;
			opacity:0.7;
		}
	 }
	.bloq-4 {
		padding:10px 20px 40px 20px;
		margin:40px 0 0 0;
		height:329px;
		@include cover;
		a.ver-mas {
			border:1px solid #000;
			color:#FFF;
			background:#000;
			&:hover {
				border:1px solid #c6c6c6;
				color:#000;
				background:#c6c6c6;
			}
		}
		@media (max-width: 768px) {
			margin:40px 0 40px 0;
		}
		@media only screen and (max-device-width: 768px) {
			margin:40px 0 40px 0;
		}
		p {
			color:#FFF;
		}
	}
	.bloq-5 {
		height:auto;
		margin:40px 0 0 0;
		@media (max-width: 768px) {
			margin:40px 0 40px 0;
		}
		@media only screen and (max-device-width: 768px) {
			margin:40px 0 40px 0;
		}
		.img {
			height:329px;
			a{
				display:block;
				width:100%;
				height:100%;
			}
		}	
		img {
			width:100%;
			height:auto;
		}
	}
	.bloq-6 {
		.img {
			img {
				max-width:100%;
				width:100%;
			}
		}
		.noticia {
			background:#c6c6c6;
			height:321px;			
			padding:20px 20px 60px 20px!important;
			.table {
				height:100%;
			}
		}
	}//bloq-6
	a.ver-mas {
		display:inline-block;
		float:right;
		padding:5px 10px;
		margin-top:10px;
		border:1px solid #000;
		color:#000;
		text-decoration:none;
		@include transicion;
		
		&:hover {
			border:1px solid #FFF;
			color:#FFF;
			background:#000;
		}
	}
	.loader {
		button {
			background:#C6C6C6;
			padding:15px 10px;
			color:#FFF;
			border:none;
			margin:20px 0;
			@include transicion;
			&:hover {
				border:1px solid #c6c6c6;
				background:#FFF;
				color:#C6C6C6;
			}
		}
	}
}
//blog

.single {
	.img {
		img {
			width:100%;
		}
	}
	.titular {
		padding-top:2%;
		span.fuente {
			display:inline-block;
			padding:10px 0;
			font-style:italic;
			color:#aaa9a9;
		}
		p {
			text-align: justify;
		}
	}
}//single

#contenido-single {
	margin-top:60px;
	h2, p {
		color:#434040;
	}
	h2 {
		@include box;
		margin:60px 0 20px 0;
		padding-left:4%;		
	}
	p {
		margin:35px 0;
		line-height:$em-1 * 1.8;
		font-size:$em-1 * 1.1;
		text-align: justify;
	}
	img {
		display:inline-block;
		margin:40px 0;
		max-width:100%;
	}
}

.table {
	display:table;
	height:100%;
	width:100%;
}
.table-cell {
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
}

footer {
	font-size: 12px;
	.container-flex {
		width:80%;
		margin:0 auto;
		@media (max-width: 480px) {
			width:100%;			
		}
		p {
			font-size: 14px !important;
		}
		@media only screen and (max-device-width: 480px) {
			width:100%;			
		}
	}
	padding:50px 0;
	background:$gris-claro-3;
	@include font-family;
	
	.info-footer {
		height:60px;
		padding-top:40px;
		p {
			color:#918f8f;
			a {
				color:#918f8f;
			}
			span {
				display:inline-block;
				width:35px;
			}
			.ico-d {
				height:14px;
				background:url(img/ico-d.png) no-repeat;
			}
			.ico-t {
				height:16px;
				background:url(img/ico-t.png) no-repeat;
			}
		}
	}
	
	ul {
		display:block;
		float:left;
		width:20%;
		
		li {
			list-style:none;
			font-size:$em-1;
			a{
				color:#918f8f;
			}
			
			&:first-child {
				font-weight:600;
				padding-top:10px;
				background:url(img/bg-top-ul-footer.gif) left top no-repeat;
				color:#918f8f;
				
				a {
					color:#918f8f;
				}
			}
		}
	}
}



.grid {
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0.1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 480px;
	width: 32.3%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	
		@media (max-width: 756px) {
			width:40%;			
		}
		@media only screen and (max-device-width: 756px) {
			width:40%;			
		}

		@media (max-width: 760px) {
			margin-left:22%;	
		}
		@media only screen and (max-device-width: 760px) {
			margin-left:22%;			
		}

		@media (max-width: 480px) {
			margin-left:8%;	
		}
		@media only screen and (max-device-width: 480px) {
			margin-left:0%;
			max-height: 300px;
		}
		
		.overlaypm {
			display:block;
			position:absolute;
			z-index:99999999;
			background:rgba(176,175,181,1);
			width:100%;
			height:100%;
			span {
				display:block;
				width:80%;
				margin:0 10%;
				color:#333;
			}
			
			.table {
				display:table;
				position:relative;
				width:100%;
				height:100%;
				font-size: 16px;
				a.cerrar {
					display:block;
					position:absolute;
					top:4%;
					right:4%;
				}
				.table-cell {
					display:table-cell;
					vertical-align:middle;
					text-align:center;
				}
			}
			
		}
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}


.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*---------------*/
/***** Oscar *****/
/*---------------*/


figure.effect-oscar {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */

background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */

background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */

background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* IE10+ */

background: radial-gradient(ellipse at center,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


}

figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
	padding: 1%;
	background-color: rgba(58,52,42,0.7);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
}

figure.effect-oscar h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	font-size:$em-1 * 1.4;
	font-weight:500;
		@media (max-width: 1265px) {
			font-size:$em-1 * 1.2;	
		}
		@media only screen and (max-device-width: 1265px) {
			font-size:$em-1 * 1.2;			
		}
}
figure.rol-integrador h2 {
	margin: 29.3% 0 10px 0;	
}
figure.nuevo-barrio h2 {
	margin: 29.3% 0 10px 0;	
}


figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}
